input {
   file {
     path => "C:\Users\MYANATOMY\Downloads\node-todo-api\output.csv"
     start_position => "beginning"
     sincedb_path => "/dev/null" 
  }
}

filter {
    csv {

      separator => ","
       
       columns => ["name", "age", "rollNo" ]
       
    }

      mutate { convert => [ "age", "integer"] }
      mutate { convert => [ "rollNo", "integer"] }
}



output {

    elasticsearch { 
        hosts => "localhost:9200" 
        index => "friends"
        document_type => "college"
    }

     stdout {}
}               

