input {
   file {
     path => "E:\myanatomy\MyAnatomy_Prime\backend\students.json"
     codec => json
     start_position => "beginning"
     sincedb_path => "nul" 
  }
}

filter {

   mutate {
      remove_field => ["path", "host", "@version" , "@timestamp"]
   }

}




output {

   elasticsearch { 
        hosts => "localhost:9200" 
        index => "candidates"
        document_type => "candit"
        document_id => "%{candidateId}"
    }

     stdout {}
}               

