input {
   file {
     path => "C:/Users/MYANATOMY/Downloads/node-todo-api/logstashInput/*"
     codec => json
     start_position => "beginning"
     sincedb_path => "C:/Users/MYANATOMY/Downloads/node-todo-api/logstashInput/nul" 
  }
}

filter {

   mutate {
      remove_field => ["path", "host", "@version" , "@timestamp"]
   }

}




output {

   elasticsearch { 
        hosts => "localhost:9200" 
        index => "colleges"
        document_type => "college"
        document_id => "%{userId}"
    }

     stdout {}
}               

