input {
   file {
     path => "E:\myanatomy\MyAnatomy_Prime\backend\logstash-input.csv"
     start_position => "beginning"
     sincedb_path => "/dev/null" 

  }
}


filter {

    csv {

       columns => ["userId", "candidateName", "candidateEmail","location","contactNumber"]
        separator => ","
       
    }

}
 

output {

   elasticsearch { 
        hosts => "localhost:9200" 
        index => "collegestudents"
        document_type => "college"
        document_id => "%{userId}"
    }

     stdout {}
}               

